<div id="backgroundImage">


  <div id="formWrapper" class="col-sm-3 bg-warning">
    <form>
      <div class="field">
        <label class="label">Username:</label>
        <input type="text" name="username" class="input" [(ngModel)]="username" #usernameInput="ngModel" required>
        <div class="help is-error" *ngIf="usernameInput.invalid && usernameInput.touched">
          Your Username is required
        </div>
      </div>
      <div class="field">
        <label class="label">Password:</label>
        <input type="password" name="password" class="input" [(ngModel)]="password" #passwordInput="ngModel" required>
        <div class="help is-error" *ngIf="passwordInput.invalid && passwordInput.touched">
          You need to enter a password.
        </div>

      </div>
      <button type="submit" class="button" (click)="sendLogin()" [disabled]=contactForm.invalid>Log In</button>
    </form>
  </div>
  <!-- <div class="container-fluid">
    <div class="row">
      <button class="col-md-12">
        <h1>Login!</h1>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">USERNAME</span>
            </div>
            <input [(ngModel)]="username" type="text" class="form-control" placeholder="username" name="username"
              required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">PASSWORD</span>
            </div>
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="password" name="password"
              required>
          </div>

          <button (click)="sendLogin()" class="btn btn-success">SUBMIT LOGIN</button>
        </form>
      </button>
    </div> -->
  </div>